<div class="container-fluid" ng-controller="CheckoutController as checkout">
  <h2>
    Checkout Page
  </h2>
  <br>
  <h3>Cart</h3>
  <!-- repeat pizzas in pizzaArray nestled inside of our pizzaCart -->
  <table class="table table-striped ordered">
    <tr>
      <th>Size</th>
      <th>Toppings</th>
      <th>Are you sure?</th>
    </tr>
    <tr ng-repeat="pizza in checkout.orderedPizzas.orderedArray">
<!-- size -->
      <td>{{pizza.size}}</td>
<!-- toppings -->
      <td>{{pizza.toppings}}</td>
<!-- buttons -->
      <td>
          <span>
            <button class="btn btn-sm btn-default" ng-click="checkout.removePizza(pizza)">Delete</button>
            <button class="btn btn-sm btn-default" ng-click="checkout.confirmPizza(pizza, $index)">Confirm</button>
          </span>
      </td>
    </tr>
  </table>

  <br>
  <br>

  <h3>Confirmed</h3>
  <table class="table table-striped confirmed">
    <tr>
      <th>Size</th>
      <th>Toppings</th>
    </tr>
    <tr ng-repeat="pizza in checkout.confirmedPizzas.confirmedArray">
<!-- size -->
      <td>{{pizza.size}}</td>
<!-- toppings -->
      <td>{{pizza.toppings}}<td>
    </tr>
  </table>
  <button class="btn btn-default confirm" ng-click="checkout.confirmOrder(checkout.confirmedPizzas)">Confirm Order</button>
</div>
