<div class="contianer-fluid">
  <div ng-controller="OrderController as order">
  <form>
    <span>Size: </span>
    <select class="form-control" ng-model="order.orderedPizza.size">
      <option value="small">Small $8</option>
      <option value="medium">Medium $9</option>
      <option value="large">Large $10</option>
      <option value="extraLarge">Extra Large $11</option>
    </select>

    <span>Choose Topping: </span>

    <label ng-repeat = "toppings in order.toppings">
      <input type="checkbox" checklist-model="order.orderedPizza.toppings" checklist-value="toppings"> {{toppings}}
    </label>

    <button ng-click="order.calculatePrice(order.orderedPizza.size); orderPizza(order.orderedPizza); order.clearForm()">Submit</button>
  </form>
</div>
