<div class="contianer-fluid">
  <form>
    <span>Size: </span>
    <select class="form-control">
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
      <option>Extra Large</option>
    </select>

    <span>Choose Topping: </span>
    <select class="form-control">
      <option>Cheese</option>
      <option>Pepperoni</option>
      <option>Canadian Bacon</option>
      <option>Sausage</option>
      <option>Hawaiian</option>
      <option>Supreme</option>
    </select>

    <button>Submit</button>
  </form>
</div>
