<div class="contianer-fluid">
  <div ng-controller="OrderController">
  <form>
    <span>Size: </span>
    <select class="form-control" ng-model="order.orderedPizza.size">
      <option value="small">Small</option>
      <option value="medium">Medium $9</option>
      <option value="large">Large $10</option>
      <option value="extraLarge">Extra Large $11</option>
    </select>

    <span>Choose Topping: </span>

    <label class="form-control" ng-model="order.orderedPizza.toppings">
      <label class="checkbox-inline">
      <input type = "checkbox" value = "cheese">Cheese
      </label>
      <label class="checkbox-inline">
      <input type = "checkbox" value = "pepperoni">Pepperoni
      </label>
      <label class="checkbox-inline">
      <input type = "checkbox" value = "canadianBacon">Canadian Bacon
      </label>
      <label class="checkbox-inline">
      <input type = "checkbox" value = "sausage">Sausage
      </label>
      <label class="checkbox-inline">
      <input type = "checkbox" value = "hawaiian">Hawaiian
      </label>
      <label class="checkbox-inline">
      <input type = "checkbox" value = "supreme">Supreme
      </label>
    </select>

    <button ng-click="order.calculatePrice(order.orderedPizza.size); orderPizza(order.orderedPizza); order.clearForm()">Submit</button>
  </form>
</div>
