.content-container {
  float: none;
  margin: 0 auto;
  background-color: white;
  min-height: 600px;
}

h1 {
  font-family: 'Diplomata SC', cursive;
}

h2 {
  font-family: 'Diplomata SC', cursive;
}

#container {
  background-color: salmon;
}

#header {
  /*background-color: black;
  color: white;*/
  text-align: center;
}
