body {
  background-color: salmon;
}

.main {
  float: none;
  margin: 0 auto;
  background-color: white;
  min-height: 600px;
}



h1 {
  font-family: 'Diplomata SC', cursive;
}

h2 {
  font-family: 'Diplomata SC', cursive;
  margin: auto;
}

.total {
  text-align: right;
}

/*.main {
  min-height: 100%;
  position: ;
}*/

#container {
  background-color: salmon;
}

#header {
  /*background-color: black;
  color: white;*/
  text-align: center;
}

.displayConfirmation {
  text-align: center;
}
