<div class="container">
<h2>Order Confirmed!</h2>
<table class="table table-striped confirmed">
  <thead>
    <tr>
      <th>Size</th>
      <th>Toppings</th>
      <th>Price</th>
    </tr>
  </thead>
  <tr ng-repeat="pizza in confirmation.confirmedPizzas.confirmedArray">
<!-- size -->
    <td>{{pizza.size}}</td>
<!-- toppings -->
    <td>{{pizza.toppings}}</td>
      <!-- price -->
    <td>{{pizza.price}}</td>
  </tr>
  <tfoot>
    <tr>
      <td></td>
      <td class="total">Total:</td>
      <td>{{confirmation.totalCost | currency:"USD$"}}</td>
    </tr>
  </tfoot>
</table>
</div>
