<div class="contianer-fluid">
  <div ng-controller="OrderController as order">
  <form>
    <span>Size: </span>
    <select class="form-control" ng-model="order.orderedPizza.size">
      <option value="Small">Small $8</option>
      <option value="Medium">Medium $9</option>
      <option value="Large">Large $10</option>
      <option value="Extra Large">Extra Large $11</option>
    </select>

    <span>Choose Topping: </span>



    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.cheese"> Cheese
    </label>
    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.pepperoni"> pepperoni
    </label>
    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.canadianBacon"> Canadian Bacon
    </label>
    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.sausage"> Sausage
    </label>
    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.hawaiian"> Hawaiian
    </label>
    <label>
      <input type="checkbox" ng-model="order.orderedPizza.toppings.supreme"> Supreme
    </label>

    <button ng-click="order.orderPizza(order.orderedPizza); order.clearForm(); order.calculatePrice(); order.pizzaConfirmation() ">Submit</button>
  </form>
  <br>
  <br>
  <div class="displayConfirmation" ng-show="order.displayPizzaConfirmation">Pizza Added!</div>
</div>
</div>
