<div class="contianer-fluid">
  <div ng-controller="OrderController as order">
  <form>
    <span>Size: </span>
    <select class="form-control" ng-model="orderedPizza.size">
      <option value="Small">Small $8</option>
      <option value="Medium">Medium $9</option>
      <option value="Large">Large $10</option>
      <option value="Extra Large">Extra Large $11</option>
    </select>

    <span>Choose Topping: </span>



    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.cheese"> Cheese
    </label>
    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.pepperoni"> pepperoni
    </label>
    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.canadianBacon"> Canadian Bacon
    </label>
    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.sausage"> Sausage
    </label>
    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.hawaiian"> Hawaiian
    </label>
    <label>
      <input type="checkbox" ng-model="orderedPizza.toppings.supreme"> Supreme
    </label>

    <button ng-click="order.addToPizzaToppings(orderedPizza); order.clearForm(); ">Submit</button>
  </form>
</div>
