<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Papa Chi's Pizza</title>

  <link href="https://fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet">
  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/style.css" />

  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="scripts/client.min.js"></script>

</head>
  <body>
  <!-- NAV BAR -->
    <div class="container" id="container">

      <div ng-include="'views/partials/header.html'"></div>
      <div ng-include="'views/partials/nav.html'"></div>

      <div class = "container main">
        <!-- MAIN CONTENT -->
        <main ng-view></main>
      </div>


    </div>
  </body>
</html>
